In [1]:
import pandas as pd

In [3]:
csv_file = "./resources/weatherpy.csv"

weatherpy_df = pd.read_csv(csv_file)
weatherpy_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Temperature,Max Temp,Wind Speed
0,Rikitea,94,PF,1580788956,77,-23.12,-134.97,78.84,78.84,11.99
1,Ushuaia,75,AR,1580788956,66,-54.80,-68.30,51.80,51.80,16.11
2,Pasan,38,IN,1580788956,45,22.85,82.20,58.91,58.91,5.91
3,Bredasdorp,92,ZA,1580788956,88,-34.53,20.04,73.90,75.00,5.82
4,Busselton,40,AU,1580788752,19,-33.65,115.33,86.59,90.00,9.42

In [4]:
weatherpy_df.to_html("cities.html", index=True)